/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>

#define DEFAULT 0
#define LOWER   1
#define RAISE   2
#define NAV 	3
#define MEDIA 	4


/ {
	behaviors {
		ht: hold_tap {
			compatible = "zmk,behavior-hold-tap";
			label = "HOLD_TAP";
			#binding-cells = <2>;
			tapping-term-ms = <200>;
			flavor = "tap-preferred";
			bindings = <&kp>, <&kp>;
		};

		hm: homerow_mods {
			compatible = "zmk,behavior-hold-tap";
			label = "HOMEROW_MODS";
			#binding-cells = <2>;
			tapping-term-ms = <200>;
			quick_tap_ms = <200>;
			flavor = "balanced";  //If this config does not work for you, try the flavor "balanced" with a medium tapping-term-ms such as 200ms.
			bindings = <&kp>, <&kp>;
		};
	};
	
	keymap {
		compatible = "zmk,keymap";

// Modifiers (hold)
// -----------------------------------------------------------------------------------------
// |    |       |       |      |       |     |        |       |       |      |     |       |    |
// |    | SUPER |  ALT  | CTRL | SHIFT |     |        |       | SHIFT | CTRL | ALT | SUPER |    |
// |    |       |       |      |       |     |        |       |       |      |     |       |    |
//                      |      | LOWER | NAV |        | MEDIA | RAISE |      |


		default_layer {
// -----------------------------------------------------------------------------------------
// | ESC |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U  |  I  |  O  |  P  | DEL |
// |SHFT |  A  |  S  |  D  |  F  |  G  |   |  H  |  J  |  K  |  L  |  ;  |  '  |
// |CTRL |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M  |  ,  |  .  |  /  | ENT |
//                   | TAB | ENT | SPC |   | BKS | DEL | APP |
			bindings = <
&kp ESC		&kp Q		&kp W		&kp E		&kp R		&kp T		&kp Y	&kp U		&kp I		&kp O		&kp P			&kp DEL
&kp LSHFT	&hm LGUI A	&hm LALT S	&hm LCTRL D	&hm LSHFT F	&kp G		&kp H	&hm RSHFT J	&hm RCTRL K	&hm RALT L	&hm RGUI SEMI	&kp SQT
&kp LCTRL	&kp Z		&kp X		&kp C		&kp V		&kp B		&kp N	&kp M		&kp COMMA	&kp DOT		&kp FSLH		&kp RET
						&kp TAB		&lt LOWER RET	&lt NAV SPACE		&lt MEDIA BSPC		&lt RAISE DEL	&kp K_APP
			>;
		};

		lower_layer {
// -----------------------------------------------------------------------------------------
// | ___ | F1  | F2  | F3  | F4  |     |   |  +  |  7  |  8  |  9  |  *  | ___ |
// | ___ | F5  | F6  | F7  | F8  |     |   |  -  |  4  |  5  |  6  |  /  | ___ |
// | ___ | F9  | F10 | F11 | F12 |     |   |  .  |  1  |  2  |  3  |  .  | ___ |
//                   | ___ | ___ | ___ |   | ___ |  0  |  .  |
			bindings = <
&trans	&kp F1		&kp F2		&kp F3			&kp F4			&none		&kp KP_PLUS		&kp N7			&kp N8			&kp N9		&kp KP_MULTIPLY		&trans
&trans	&hm LGUI F5	&hm LALT F6	&hm LCTRL F7	&hm LSHFT F8	&none		&kp KP_MINUS	&hm RSHFT N4	&hm RCTRL N5	&hm RALT N6	&hm RGUI KP_SLASH	&trans
&trans	&kp F9		&kp F10		&kp F11			&kp F12			&none		&kp KP_DOT		&kp N1			&kp N2			&kp N3		&kp KP_DOT			&trans
												&trans	&trans	&trans		&trans	&kp N0	&kp KP_DOT
			>;
		};


		raise_layer {
// -----------------------------------------------------------------------------------------
// | ___ |  !  |  @  |  +  |  =  |  \  |   |  `  |  {  |  }  |     |     | ___ |
// | ___ |  &  |  #  |  -  |  _  |  |  |   |  ~  |  (  |  )  |  '  |  "  | ___ |
// | ___ |  *  |  %  |  ^  |  $  |  /  |   |     |  [  |  ]  |     |     | ___ |
//                   | ___ | ___ | ___ |   | ___ | ___ | ___ |
			bindings = <
&trans	&kp EXCL		&kp AT			&kp PLUS		&kp EQUAL		&kp BSLH		&kp GRAVE	&kp LBRC	&kp RBRC	&none	&none 	&trans
&trans	&hm LGUI AMPS	&hm LALT HASH	&hm LCTRL MINUS	&hm LSHFT UNDER	&kp PIPE		&kp TILDE	&kp LPAR	&kp RPAR	&kp SQT	&kp DQT	&trans
&trans	&kp STAR		&kp PRCNT		&kp CARET		&kp DLLR		&kp FSLH		&none		&kp LBKT	&kp RBKT	&none	&none	&trans
														&trans	&trans	&trans			&trans	&lt RAISE DEL	&kp K_APP
			>;
		};

		nav_layer {
// -----------------------------------------------------------------------------------------
// | ___ | ESC |     |     |     |     |   |     |     |     |     |     | ___ |
// | ___ |SUPER| ALT |CTRL |SIHFT| APP |   |     |LEFT |DOWN | UP  |RIGHT| ___ |
// | ___ |UNDO | CUT |COPY |PASTE|REDO |   |     |HOME |PG_DN|PG_UP| END | ___ |
//                   | ___ | ___ | ___ |   | ___ | ___ | ___ |
			bindings = <
&trans	&kp ESC		&none		&none		&none		&none			&none	&none		&none		&none		&none 		&trans
&trans	&kp LGUI	&kp LALT	&kp LCTRL	&kp LSHFT	&kp K_APP		&none	&kp LEFT	&kp DOWN	&kp UP		&kp RIGHT	&trans
&trans	&kp K_UNDO	&kp K_CUT	&kp K_COPY	&kp K_PASTE &kp K_REDO		&none	&kp HOME	&kp PG_DN	&kp PG_UP	&kp END		&trans
						&kp TAB		&lt LOWER RET	&lt NAV SPACE		&trans	&lt RAISE DEL	&kp K_APP
			>;
		};

		media_layer {
// -----------------------------------------------------------------------------------------
// | ___ |     |     |     |     |     |   |     |MUTE |VL_DN|VL_UP|PSCRN| ___ |
// | ___ |     |     |     |     |     |   |PAUSE|RWND |PREV |NEXT |FFORW| ___ |
// | ___ |     |     |     |     |     |   |     |HOME |PG_DN|PG_UP| END | ___ |
//                   | ___ | ___ | ___ |   | ___ | ___ | ___ |
			bindings = <
&trans	&kp ESC		&none		&none		&none		&none		&none		&kp K_MUTE	&kp C_VOL_DN	&kp C_VOL_UP 	&kp PSCRN	&trans
&trans	&kp LGUI	&kp LALT	&kp LCTRL	&kp LSHFT	&none		&kp C_PP	&kp C_RW	&kp C_PREV		&kp C_NEXT		&kp C_FF	&trans
&trans	&kp K_APP	&none		&none		&none		&none		&none		&none		&none			&none			&none		&trans
										&trans	&trans	&trans		&trans		&lt RAISE DEL	&kp K_APP
			>;
		};


		// &ext_power EP_ON

// 		other_layer {
// // -----------------------------------------------------------------------------------------
// // |  ESC |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
// // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
// // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
// //                    | GUI |     | SPC |   | ENT |     | ALT |
// 			bindings = <
// 	 &kp ESC    &kp N1       &kp N2       &kp N3       &kp N4       &kp N5            &kp N6   &kp N7   &kp N8 &kp N9    &kp N0 &kp BSPC
// 	 &bt BT_CLR &bt BT_CLR   &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3      &kp LEFT &kp DOWN &kp UP &kp RIGHT &trans &trans
// 	 &kp LSHFT  &trans       &trans       &trans       &trans       &trans            &trans   &trans   &trans &trans    &trans &trans
// 					&kp LGUI     &trans       &kp SPACE         &kp RET &trans &kp RALT
// 			>;
// 		};

	};
};
